.btn-primary
{
    text-decoration: none;
    background-color: var(--Primary);
    border-bottom: 4px solid var(--Secundary);
    color: var(--White);
    padding: 16px;
    font-size: 16px;
}
.btn-primary:hover
{
    filter: brightness(85%)
}