input
{
    border: 2px solid var(--Gray);
    padding: 0 10px;
    height: 40px;
    margin-top: 15px;
}
textarea
{
    border: 2px solid var(--Gray);
    padding: 10px 10px;
    height: 300px;
    margin-top: 15px;
    resize: vertical;
}